<section class="well" data-ng-repeat="ad in adsData.ads">
    <header class="clearfix">
        <div class="pull-left col-lg-pull-6"><h3>{{ad.title}}</h3></div>
        <div class="pull-right"><small>{{ ad.date | date:'dd-MMM-yyyy'}}</small></div>
    </header>
    <main class="clearfix">
        <div class="pull-left col-sm-4">
            <div class="well center"><img data-ng-src="{{ad.imageDataUrl}}" src="" alt=""></div>
        </div>
        <div class="pull-right col-sm-8">
            <div class="well">
                {{ad.text}}
            </div>
            <div>
                <div class="clearfix"><div class="col-sm-4 well-sm">Category: </div><div class="well well-sm col-sm-8">{{catNamePerId[ad.categoryId]}}</div></div>
                <div class="clearfix"><div class="col-sm-4 well-sm">Town: </div><div class="well well-sm col-sm-8">{{townNamePerId[ad.townId]}}</div></div>
            </div>
        </div>
    </main>
</section>