<header>
    <div class="well well-sm center">
        <span>Ads - {{pageTitle}}</span>
    </div>
</header>
<div class="wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="well sidebar">
                <h4 class="underline center">Navigation</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>

            <div class="well">
                <p>To publish a new ad, please login.</p>
                <a class="btn btn-primary btn-sm btn-block" href="#">Login</a>
                <a class="btn btn-primary btn-sm btn-block" href="#">Register</a>
            </div>
        </div>
        <div class="col-md-6">
            <section class="well">
                <header class="clearfix">
                    <div class="pull-left col-lg-pull-6"><h3>iPhone 4S for Sale</h3></div>
                    <div class="pull-right"><small>3-Jan-2015</small></div>
                </header>
                <main class="clearfix">
                    <div class="pull-left col-sm-4">
                        <div class="well center"><img src="img/img1.png" alt=""></div>
                    </div>
                    <div class="pull-right col-sm-8">
                        <div class="well">
                            I have iPhone 4S 16GB for sale. Good price. Like a new. Please call me in the evenings or at weekends.
                        </div>
                        <div>

                        </div>
                    </div>
                </main>
            </section>
        </div>
        <div class="col-md-3">
            <div data-categories-drct></div>
            <div data-towns-drct></div>
        </div>
    </div>
</div>